body {
    background-color: #2B2929;
    color: #BDC1CA;
    font-family: "Roboto", sans-serif;
    font-size: 16px;
    font-weight: 400;
}

main {
    width: 30vw;
    margin: 0 auto;
}

figure {
    max-width: 160px;
    max-height: 160px;
    margin: 0 auto;
    padding: 20px;
}

figure img {
    width: 100%;
    border-radius: 50%;
}

section {
    padding: 20px 0;
}

h1 {
    font-size: 1.75rem;
    font-weight: bold;
    margin-bottom: 10px;
}

h2 {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 10px;
}

p {
    text-align: justify;
    margin-bottom: 20px;
}

strong {
    font-weight: bold;
}

.card-container {
    display: flex;
    grid-gap: 10px;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    padding: 20px;
    border: 1px solid #C0CDD3;
    border-radius: 8px;
}

.card h2 {
    margin-bottom: 10px;
}

.card ul li {
    margin-bottom: 6px;
}

.redes {
    display: flex;
    justify-content: center;
    grid-gap: 10px;
}

.redes a {
    color: #C0CDD3;
}

.redes .mdi {
    font-size: 36px;
}

@media (max-width:  960px) {
    main {
        width: 60vw;
    }
}

@media (max-width:  690px) {
    main {
        width: 90vw;
    }
}